.preloader-screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    // font-size: 8em;
    background-color: $c-purple-dark;



    &--loaded {
      z-index: -1;
    }
  }

  .preloader__img {
    margin-bottom: 2rem;
    animation: flamingo-sway 2s ease-in-out infinite;
  }

  .preloader-screen__title {
    margin: 0;
    text-transform: uppercase;
    font-family: $font-alt;
    font-weight: 400;
    font-size: 9rem;
    line-height: 0.9;
    letter-spacing: -0.04em;

    @media (min-width: $stop-scaling) {
      font-size: 120px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      font-size: 3.4rem;
      line-height: 0.5;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      font-size: 10rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      font-size: 5rem;
      line-height: 0.6;
    }
  }
