.slogan__word {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  white-space: nowrap;

    span {
      display: inline-block;
      padding-top: 2rem;
      transform: translateY(100%);

      .accent-typography--active & {
        animation-name: slide-in-up;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
      }
    }
  }