.sonya {
    position: absolute;
    right: -8.5rem;
    bottom: 0;
    width: 32.7rem;
    height: 36.9rem;
    transform: translate(400px, 300px) rotateZ(-22deg) scale(0.3);

    @media (min-width: $stop-scaling) {
      right: -85px;
      width: 327px;
      height: 369px;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      display: none;
    }
  }
